.ArticleListing {
  margin: 0 auto;
  max-width: 1080px;
}

.App h1{
  font-size: 60px;
  font-weight: 500;
}

.ArticleCard{
  display:flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 40px 0;
  padding: 25px 30px;
}
.ArticleCardImage{
  flex-basis: 25%;
}
.ArticleCardImage img{
  height: 100%;
  width:90%;
  
}

.ArticleCardText {
  flex-basis: 75%;
}
.ArticleCardTextLink {
  font-weight: bold;
  color: blue
}

.ArticleHeaderWrapper{
  background-color: #c9c8c8;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  padding-bottom: 45px;
  padding-top: 65px;
}

.ArticleHeader{
  max-width:600px;
  margin: 0 auto;
}
.ArticleHeaderBlurb{
  font-size:20px;
  font-weight:500;
}

.ArticleHeader h1{
  margin:0 auto;
  font-size:48px;
}
.ArticleBody{
  max-width:600px;
  margin: 0 auto;
}
/*

Classes: .class
IDs: #id  //NEVER USE THERE IN CSS 
HTML Element: h1,h2,p,<main>

h1.coolheader{} only h1 elements with coolheader

Display Values:

block
inline
inline-block
none

flex
grid

CSS Box Model
padding - inside of the container
margin - outside of the container
border - lines up with the container
padding/margin: top right bottom left
*/